<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Horizontal Form</h4>
                <p class="card-title-desc">Be sure to add
                    <code>.col-form-label</code> to your <code>&lt;label&gt;</code>s as well so they’re vertically
                    centered with
                    their
                    associated form controls.
                </p>
                <fieldset class="row">
                    <legend class="col-form-label col-sm-2 col-4 pt-0">Tipo de movimiento</legend>
                    <div class="col-sm-10 col-8">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1"
                                value="option1" checked>
                            <label class="form-check-label" for="gridRadios1">
                                Ingreso
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2"
                                value="option2">
                            <label class="form-check-label" for="gridRadios2">
                                Egreso
                            </label>
                        </div>
                    </div>
                </fieldset>
                <div class="row mb-3">
                    <label for="inputEmail3" class="col-sm-2 col-4 col-form-label">Banco</label>
                    <div class="col-sm-10 col-8">
                        <select class="form-select">
                            <option>Select</option>
                            <option>Large select</option>
                            <option>Small select</option>
                        </select>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="inputEmail3" class="col-sm-2 col-4 col-form-label">Descripcion</label>
                    <div class="col-sm-10 col-8">
                        <input type="text" class="form-control" id="inputEmail3">
                    </div>
                </div>
                <fieldset class="row">
                    <legend class="col-form-label col-sm-2 col-4 pt-0">Date</legend>
                    <div class="col-sm-10 col-8">
                        <input class="form-control" type="date" value="2021-03-19" id="example-date-input">
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
</div>
<!-- end row -->